/* Reset básico */
body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

/* Animación de fondo */
body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #FF0000, #8a0000, #b80101, #000000);
    background-size: 400% 400%;
    animation: gradienteAnimacion 12s ease infinite;
} 

@keyframes gradienteAnimacion {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body{
    color:#ffffff ;
    font-family: "Glacial Indifference", serif;
    text-align: center;
    text-shadow: 0 0 2px;
}

h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 100px;
    text-align: center;
    margin-top: 50px;
    color: #ffffff;
    text-shadow: 0 0 5px;
}

p {
    line-height: 1.4;
}

a{
    text-decoration: none;
    color:#ff0000
    
    /* Encabezado */

}
header{
    display: flex;
    min-height: 100px;
    background-color: #ffffff;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;

}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 60px;
    margin-right: 10px;
}

nav a{
    padding-right: 10px;
}

nav a:hover{
    color:#ffb1b1
}

@media (max-width:700px){
    header{
    flex-direction: column;
    }
}

nav{
    padding: 10px 0px;
}
nav {
        margin-top: 10px;
    }
h1 {
        font-size: 40px;
    }
 p {
        font-size: 16px;
        padding: 0 10px;
    }